# --- Telegram ---
TELEGRAM_BOT_TOKEN=your-bot-token
TELEGRAM_SECRET_TOKEN=your-secret-webhook-token

# --- Google Gemini ---
GEMINI_API_KEY=your-gemini-api-token
GEMINI_MODEL_ID=choose-gemini-model

# --- Database ---
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=rag_db

# Connection Strings (Internal Docker Network)
# Async for FastAPI
DATABASE_URL_ASYNC=postgresql+asyncpg://postgres:root@db:5432/rag_db
# Sync for Celery
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:root@db:5432/rag_db

# --- Infrastructure ---
REDIS_URL=redis://redis:6379/0
QDRANT_URL=http://qdrant:6333